*{
	font-family:Arial, Helvetica, sans-serif;
}
html{
	background-color:#ccc;
}
body{
	width:980px;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fff;
}

#sortlist { list-style: none; padding: 0; margin: 0 40px; } 
#sortlist li { margin: 0 0 1px 0; background: #CFF; padding: 2px; } 
#sortlist .handle { float: left; margin-right: 10px; cursor: move; } 

.artistAlbumTable{
	width:94%;
	margin-left:auto;
	margin-right:auto;
	border:medium hidden;
}


.ratingding{
	width:20px;
	height:20px;
	margin-left:10px;
	text-align:center;
	color:white;
}

.neg{
	background-color:#F78181;
	float:left;
}

.neg:hover{
	background-color:#FA5858;
}

.pos{
	background-color:#D8F781;
	float:left;
}

.pos:hover{
	background-color:#C8FE2E
}

.artistAlbumTable th{
	background-color:#DDD;
}
.artistAlbumTable .imgtd{
	width:185px;
}
.artistAlbumTable img{
	width:174px;
	height:174px;
	margin:3px;
}
.artistAlbumTable ul{
	list-style-type:none;
	list-style-image:url(a.png);
}